<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Home</title>
</head>
<body>
<h1>My Recipes!</h1>

<table border="1px">
    <tr>
        <th>Description</th>
        <th>Source</th>
        <th>Categories</th>
        <th>Difficulty</th>
    </tr>
    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe.description}">desc</td>
        <td th:text="${recipe.source}">source</td>
        <td th:text="${recipe.getCategories()}">categories</td>
        <td th:text="${recipe.getDifficulty()}">difficulty</td>
    </tr>
</table>
</body>
</html>